@model ComicBookGallery2.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}

<h2>@Model.DisplayText</h2>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>书名：</label>@Model.SeriesTitle</h5>
            <h5><label>号码 #:</label>@Model.IssueNumber</h5>

            <h5>
                <label>是否接受群众喜欢：</label>@(Model.Favorite ? "喜欢" : "不喜欢")
            </h5>
            <h5><label>书名的表述：</label></h5>
            @Html.Raw(Model.DescriptionHtml)
            @if (Model.Artists.Length > 0)
            {
                <h5>作者：</h5>
                <div>
                    <ul>
                        @foreach (var artist in Model.Artists)
                        {

                            <li>
                                @artist.Role: @artist.Name
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <h5>描述:</h5>
        <p>@Html.Raw(Model.DescriptionHtml)</p>
    </div>
    <div class="col-md-6">
        <img src="~/Images/@Model.CoverImageFileName" alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>